[Unit]
Description=genie
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/genie
ExecStart=/home/ubuntu/genie/start.sh
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=network.target

